<div id="about-box">
  <h1>About Us</h1>
  <h3>
    We are a community of young people trying to find a loving and caring family for stray animals.
    Here you can find your next "family member". Just search through our site and in case you like any of our
    little furry friends, you can call us, email us, or come straight to our office.
  </h3>
  <h5>Find us:</h5>
  <p><strong>Address:</strong> Sofia, "Pirotska" str.</p>
  <p><strong>Email:</strong> anishel@gmail.com</p>
  <p><strong>Telephone:</strong> +359849300088</p>
</div>